.main-section {
	padding-top: 20px;
}

textarea {
	min-height: 64px;
}

.question-panel {
	padding: 0px 5px;
}
.question-panel .panel, .question-panel .content {
	padding: 10px;
}

.question-panel .button {
	padding: 7px 7px;
	margin-bottom: 0px;
}

.question-panel .button:first-child {
	max-width: 60px;
}

.question-panel .button:last-child {
	float: right;
}

.title > a{
	color: #FFF;
}

#panel2-1 {
	padding-right: 15px;
}

#panel2-1 img {
	margin-bottom: 10px;
}

#panel2-1 {
	font-size: .80rem;
	line-height: 1.2;
}

.lecture-desc p { 
	font-size: .85rem;
	line-height: 1.3;
}

.tabs dd{
	border: 1px solid #D6D6D6;
}

.tabs dd > a {
	padding: 10px 12px;
/*	padding-right: 16px;
	padding-left: 16px;*/
}

.accordion .content {
	font-size: 0.95rem;
	line-height: 1.2;
}

fieldset {
	background-color: #F2F2F2;
}

.welcome {
	text-align: center;
}

.signup-link {
	margin-bottom: 0px;
}

.quiz-creation {
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.quiz {
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	display: inline;
}

.quiz-answer {
	padding: 0px 0px 0px 5px;
}

/******** COMMENTS *********/

i {
	/*line-height: 2.0625rem;*/
	/*padding: 0px 0px 0px 10px;*/
	padding-left: 10px;
	color: #FFF;
	position: relative;
	font-size: 36px;
}

.fi-lightbulb, .fi-comment-quotes {
	font-size: 24px;
	padding: 0px 6px;
	padding-left: 7px;
}

.big-button {
	/*border-style: solid;*/
  /*border-width: 1px;*/
  cursor: pointer;
  font-family: inherit;
  /*font-weight: bold;*/
  line-height: 1;
  margin: 0 0 1.53846em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.69231em;
  padding-right: 1.38462em;
  padding-bottom: 0.76923em;
  padding-left: 1.38462em;
  font-size: 1rem;
  padding-top: 0.69231em;
  padding-bottom: 0.76923em;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  /*background-color: black;*/
  /*border-color: black;*/
  color: white;
  margin-bottom: .5em;
}

/*#ask-question .button {*/
.nice-button {
  cursor: pointer;
  font-family: inherit;
  line-height: 1;
  margin: 0 0 1.53846em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 0.69231em;
  padding-right: 1.38462em;
  padding-bottom: 0.76923em;
  padding-left: 1.38462em;
  font-size: 0.95rem;
  padding-top: 0.69231em;
  padding-bottom: 0.76923em;
  padding-right: 0px;
  padding-left: 0px;
  width: 48%;
  /*background-color: black;*/
  /*border-color: black;*/
  color: white;
  margin-bottom: .5em;
}

.incoming {
	list-style-type: none;
	margin: 0;
}

.incoming li h6 {
	margin: 6px 0 0 0;
}

.incoming li h4 {
	margin: -2px 0 10px 0;
}


.fi-x .fi-list .fi-alert .fi-info .fi-eye .fi-projection-screen
.fi-upload .fi-download .fi-page-export .fi-page-csv .fi-graph-bar .fi-graph-horizontal
.fi-results-demographics .fi-results .fi-thumbnails 
.fi-asterisk .fi-quote .fi-comment-quotes .fi-comments .fi-comment 
.fi-clipboard-pencil .fi-checkbox .fi-check .fi-like .fi-star
.fi-calendar .fi-address-book .fi-mail .fi-save .fi-share
.fi-link .fi-lock .fi-unlock .fi-loop .fi-magnifying-glass .fi-refresh
.fi-pencil .fi-bookmark .fi-annotate .fi-underline .fi-text-color .fi-paint-bucket .fi-archive
.fi-zoom-in .fi-zoom-out .fi-arrows-out .fi-arrows-in 
.fi-arrow-up .fi-arrow-down .fi-arrow-left .fi-arrow-right
{

}


